.intro {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.share-tools {
  a {
    color: #333333;
    cursor: pointer;
  }
}


.intro-cover-image {
  background: url('../images/banner.jpg') no-repeat;
  background-size: cover;
  min-height: 280px;
  height: 33%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}


.intro-start {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 66%;
  width: 100%;
  background: url(../images/wine-cup.png) bottom 81px right 0 no-repeat;
  z-index: 1;
  background-size: 18%;

  .hed {
    color: $site-text-color;
    font-weight: 200;
    font-size: 64px;
    margin: 60px 0 0 60px;
  }

  .btn-start {
    display: inline-block;
    color: $site-text-color;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #fff;
    margin: 30px 0 0 60px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}

footer.sponsorship {
  height: 75px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 900px;

  .sponsored-by {
    margin-left: 5%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    color: #333333;
    position: relative;
    z-index: 10;
  }

  img {
    margin-left: 20px;
  }

  .share-tools {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 75px;
    z-index: 100;

    .share-bg {
      border-top: 75px solid #e6e6e6;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 75px;
      border-left: 72px solid transparent;
    }

    .links {
      position: relative;
      top: 20px;
      left: 227px;

      span {
        font-size: 16px;
        color: #333333;
        font-weight: 300;
      }

      .fa {
        font-size: 30px;
        margin-left: 12px;
        top: 4px;
        position: relative;

        &:hover {
          background-repeat: no-repeat;
          text-decoration: none;
        }
      }
    }
  }
}
