.map-legend {
  background-color: rgba(245, 244, 240, 0.85);
  width: 230px;
  padding: 8px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  text-align: right;
  z-index: $zindex-map-legend;
  text-transform: uppercase;
  font-size: 11px;
  border-radius: 4px;
}


.map-legend-key {
  position: relative;
  padding-right: 40px;

  &:first-child { margin-bottom: 8px }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    border-radius: 3px;
    width: 33px;
    height: 13px;
  }
}

.map-legend-official:after {
  background-color: #ae7c5c;
}

.map-legend-other:after {
  background-color: #ccae7f;
}
