nav.menu {
  position: absolute;
  top:35px;
  left:58px;
  background: $site-background-color;
  background: rgba(37, 49, 62, 0.6);
  width: 200px;
  height: 48px;
  border-radius: 4px;
  z-index: 1071;

  .title {
    position: absolute;
    top:5px;
    left: 55px;
    color:#fff;
    font-size: 13px;
    display: block;
    font-weight:bold;
  }

  .sub-title {
    position: absolute;
    top:17px;
    left: 55px;
    color:#fff;
    font-size: 23px;
    display: block;
    font-weight:bold;
  }

  button {
    height: 48px;
    width: 48px;
    background: $site-background-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 30px;
    outline: none;
  }

  ul {
    background: #f4f3ef;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 4px;
    box-shadow: 5px 2px 10px #222;
    margin-top: 5px;
    width: 230px;

    li {
      text-align: center;
      font-size: 11px;
      color: $site-background-color;
      padding: 10px 0;
      border-top:1px solid #dfd2bd;
      position: relative;

      .fa {
        position: absolute;
        top: 12px;
        right: 17px;
        font-size: 13px;
      }

      &:hover {
        background:#fff;

        ul.sub-region {
          display: block;
        }
      }

      &.menu-title {
        color: #fff;
        background: $site-background-color;
        border-top:none;
        border-radius: 4px 4px 0 0;
        font-size: 13px;

        &:hover {
          background: $site-background-color;
        }

        .fa {
          position: absolute;
          top: 12px;
          right: 16px;
          font-size: 12px;
        }
      }

    }
  }

  ul.sub-region {
    position: absolute;
    left: 230px;
    top:-1px;
    margin-top: 0;
    display: none;
  }
}