

.map-filters {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 315px;
  z-index: 1051;
  text-align: center;

  button {
    display: inline-block;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-width: 0 0 5px;
    border-radius: 4px 4px 0 0;
    background: $site-background-color;
    width: 43px;
    height: 43px;
    background-image: url(../images/filter-icon-sprite.png);
    background-repeat: no-repeat;
    background-position: 11px 11px;
    overflow: hidden;
    text-indent: -1000px;
    box-sizing: content-box;
    outline: none;
    padding: 0;

    &.wineries {
      background-position: 11px 11px;

      &.active {
        border-color: $winery-color;
      }
    }

    &.hotels {
      background-position: -36px 11px;

      &.active {
        border-color: $accomodation-color;
      }
    }

    &.restaurants {
      background-position: -84px 11px;

      &.active {
        border-color: $restaurant-color;
      }
    }

    &.attractions {
      background-position: -133px 11px;

      &.active {
        border-color: $attraction-color;
      }
    }
  }

 .tooltip {
    font-size: 10px;
    text-transform: uppercase;
  }
}
