//
// NY-Wine Variables (override Bootstrap default variables)
// --------------------------------------------------


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$zindex-map-region:                         1050;
$zindex-map-overlay:                        1060;
$zindex-map-overlay-background:             1070;
$zindex-map-overlay-content:                1080;
$zindex-map-intro-overlay:                  1100;

$site-background-color: #25313E;
$site-text-color: #ffffff;

$winery-color: #76154A;
$restaurant-color: #63BB7F;
$accomodation-color: #B7D5EF;
$attraction-color: #F4A515;

$mobile-primary: #f4f3ef;
