// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Core includes
@import "compass";
@import "variables";
@import "images";

// Components
@import "intro";
@import "map";
@import "map_region";
@import "map_controls";
@import "map_overlay";

body {
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  background: $site-background-color;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .content {
    position: relative;
    width: 100%;
    height: 100%;
  }
}





/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/*  .container {
    max-width: 730px;

    &.map {
      max-width: auto;

    }
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
