@import "variables";

body.mobile {
	background: $mobile-primary;
	color: $site-background-color;

	.main {

		.content {
			min-height: 0 !important;
		}
	}

	.share-tools {
		a {
			color: #ffffff;
			cursor: pointer;
		}
	}

	.navbar-default {
		background-color: $site-background-color;
		color: #fff;
		border: none;

		h1 {
			font-size: 12px;
		  line-height: 12px;
		  text-transform: uppercase;
		  padding: 0;
		  margin: 0;
		  margin-left: 10px;
		  margin-top: 20px;
		  margin-top: 12px;
		}

		h2 {
			font-size: 18px;
		  line-height: 18px;
		  text-transform: uppercase;
		  padding: 0;
		  margin: 0;
		  margin-left: 10px;
		}

		a {
			color: #fff;
		}

		.back {
			font-size: 9px;
		  text-transform: uppercase;
		  position: absolute;
		  top: 20px;
		  right: 10px;

		  span.fa {
		  	font-size: 10px;
		  	margin-left: 2px;
		  }
		}
	}

	#navbar {
		li {
			border-bottom: 1px solid #ebe3cf;
			font-size: 13px;

			ul {
				border-bottom: none;
			}

			&.region {
				max-height: 40px;
				overflow: hidden;
				transition: max-height .5s;
			}

			&.region.expanded {
				border-bottom: none;
				border: 2px solid $site-background-color;
				border-width: 2px 0;
				transition: max-height 1s;
				max-height: 800px;
			}

			&.venue {
				background:url(../images/mobile/icons.png);
				background-repeat: no-repeat;
				background-position: right 7px top 2px;

				&.restaurant {
					background-position: right 7px top -66px;
				}
				&.attraction {
					background-position: right 7px top -128px;
				}
				&.hotel {
					background-position: right 7px top -203px;
				}

				a {
					text-align:left;
					width: 90%;
				}
			}

			ul.subregion {
				width: 60%;
				margin: auto;
				text-align: center;

				li {
					border-top: 1px solid #fff;
					border-bottom: none;
					font-size: 11px;
				}
			}


			a {
				margin-bottom: 0;
				color: $site-background-color;
			}
		}
	}

	.wide.intro {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $site-background-color;
		background-image: url(../images/mobile/wine-cup.png);
		background-position: bottom 96px right -55px;
		background-repeat: no-repeat;
		background-size: 45%;
		color: #fff;

		h1 {
			margin: 5% 5%;
			font-weight: 200;
			font-size: 40px;
			width: 275px;
			text-shadow: 2px 2px 2px #000;
		}

		h2 {
			margin: 0;
			font-size: 11px;
			color: #fff;
			border: 2px solid #fff;
			display: inline-block;
			padding: 7px 10px 6px;
			font-weight: 300;
			text-transform: uppercase;
			position: absolute;
			bottom: 125px;
			left: 5%;

			a {
				color: #fff;
			}
		}

		.jumbotron.banner {
			background: url(../images/mobile/home-banner.jpg);
			height: 37%;
			background-size: 100%;
			background-position: bottom center;
			margin-bottom: 0;
		}
	}

	.wide.state {
		background: url(../images/mobile/state.jpg);
		background-repeat:no-repeat;
		background-size: cover;
		width: 100%;
		height: 278px;
		margin-top: 50px;
	}

	.wide.region-image {
		background: url(../images/region-finger-lakes.jpg);
		background-repeat:no-repeat;
		background-size: 100%;
		width: 100%;
		height: 128px;
		border: 1px solid $site-background-color;
		margin-top:50px;
		background-position: 20% 44%;

		&.fixed {
			position: fixed;
			height: 30px;
			top: 50px;
			z-index: 100;
			width: 100%;
			margin: 0;
			overflow: hidden;

			.region-name {
				margin-top: 0;
				font-size: 13px;
				display: inline-block;
			}

			.subregion-name {
				display: inline-block;
				margin-left: 5px;
				font-size: 12px;

				span {
					display: inline;
				}
			}
		}

		.region-name {
			font-size: 25px;
			color: #fff;
			text-shadow: 0px -1px 23px #000;
			margin-top: 74px;
			margin-left: 10px;
			line-height: 25px;
			text-transform: capitalize;
		}

		.subregion-name {
			font-size: 14px;
			line-height: 14px;
			color: #fff;
			text-shadow: 0px -1px 23px #000;
			margin-top: 5px;
			margin-left: 10px;
			text-transform: uppercase;

			span {
				display: none;
			}
		}
	}

	.wide.filters {
		background: $site-background-color;
		height: 44px;

		&.fixed {
			position: fixed;
			top: 80px;
			left: 0;
			z-index: 100;
			width: 100%;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			box-sizing: border-box;

			li {
				display: inline-block;
				width: 25%;
				border-right: 1px solid #000;
				color: #fff;
				box-sizing: border-box;
				float: left;
				height: 44px;
				position: relative;

				span.icon {
				  display: block;
				  margin: auto;
				  width: 40px;
				  height: 50%;
				  margin-top: 10%;
				  background: url(../images/filter-icon-sprite.png);
				  background-repeat: no-repeat;
				  background-position: 11px -2px;
				  text-align: center;
				}

				span.border {
					position: absolute;
					bottom: 0px;
					left:0px;
					width: 100%;
					display: block;
					border-top:1px solid #000;
					height: 8px;
				}

				&.winery {
					span.icon {
						background-position: 11px -2px;
					}
					&.active span.border {
						background: $winery-color;
					}
				}

				&.hotel {
					span.icon {
						background-position: -38px -2px;
					}
					&.active span.border {
						background: $accomodation-color;
					}
				}

				&.restaurant {
					span.icon {
						background-position: -86px -2px;
					}
					&.active span.border {
						background: $restaurant-color;
					}
				}

				&.attraction {
					span.icon {
						background-position: -134px -2px;
					}
					&.active span.border {
						background: $attraction-color;
					}
				}

				&:last-child {
					border-right:none;
				}
			}
		}
	}

	.wide.venue-header {
		background-image: url(../images/overlay-winery.jpg);
		height: 68%;
		background-size: cover;
		position: relative;

		.banner {
			height: 75px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			.badge {
				display: block;
				width: 70px;
				height: 70px;
				position: absolute;
				top: -35px;
				right: 20px;
				border-radius: 50%;
				box-shadow: 2px 2px 2px #222;
			}

			.name {
				color: #fff;
				font-size: 20px;
				font-weight: 300;
				margin-top: 18px;
				margin-left: 10px;
				line-height: 20px;
				width: 76%;
			}
		}

		&.Winery {
			background-image: url(../images/overlay-winery.jpg);
			.badge,.banner {
				background-color: $winery-color;
			}
			.badge {
				background: url(../images/overlay-icon-grapes.png);
				background-size:contain;
			}
		}

		&.Hotel {
			background-image: url(../images/overlay-hotel.jpg);
			.badge, .banner {
				background-color: $accomodation-color;
			}

			.badge {
				background: url(../images/overlay-icon-bed.png);
				background-size:contain;
			}
		}

		&.Attraction {
			background-image: url(../images/overlay-attraction.jpg);
			.badge, .banner {
				background-color: $attraction-color;
			}

			.badge {
				background: url(../images/overlay-icon-camera.png);
				background-size:contain;
			}
		}

		&.Restaurant {
			background-image: url(../images/overlay-restaurant.jpg);
			.badge, .banner {
				background-color: $restaurant-color;
			}

			.badge {
				background: url(../images/overlay-icon-fork.png);
				background-size:contain;
			}
		}
	}

	.wide.venue-info {
		font-size: 12px;
		margin-top: 10%;
		margin-left: 20px;
	}

	.footer {
		position: absolute;
		color: #fff;
		bottom: 0;
		width: 100%;
		height: 30px;
		background-color: $winery-color;

		.col {
			float: left;
			width: 50%;
			border-right: 1px solid #fff;
			height: 30px;
			padding: 6px 0;
			text-align: center;
			font-weight: 400;
			font-size: 12px;

			&:last-child {
				border-right:none;
			}

			a {
				color: #fff;
				text-decoration: none;
			}
		}

		&.Winery {
			background-color: $winery-color;
		}

		&.Hotel {
			background-color: $accomodation-color;
		}

		&.Attraction {
			background-color: $attraction-color;
		}

		&.Restaurant {
			background-color: $restaurant-color;
		}
	}

	footer.sponsored {
		position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    color: #000;

    span {
    	display: inline-block;
    	width: 25%;
    	padding: 10px;
    }

    .logos {
    	display: inline-block;
    	width: 72%;

    	div {
    		margin-left: 5%;
    	}
    }

    .uncork-logo {
			background: url(../images/mobile-uncork-logo.png);
	    width: 36%;
	    background-size: contain;
	    height: 48px;
	    background-repeat: no-repeat;
	    display: inline-block;
	    position: relative;
			top: 18px;
    }

    .ny-logo {
			background: url(../images/mobile-ny-partner-logo.png);
	    width: 10%;
	    background-size: contain;
	    height: 31px;
	    background-repeat: no-repeat;
	    display: inline-block;
    }

    .we-logo {
			background: url(../images/mobile-wine-enthusiast-logo.png);
	    width: 25%;
	    background-size: contain;
	    height: 22px;
	    background-repeat: no-repeat;
	    display: inline-block;
    }
	}

	.share-tools {
		position: absolute;
		bottom: 90px;
		left: 16px;

		.fa {
			font-size: 21px;
	    position: relative;
	    top: 3px;
	    margin-left: 10px;
		}
	}

}