<div class="wide intro">
	
	<div class="jumbotron banner">
	</div>

	<h1>Discover the New York State Wineries</h1>

	<h2><a href="/#/map">Start the Adventure</a></h2>

	<div class="share-tools">
		<span>SHARE:</span>
		<i class="fa fa-facebook-square"></i>
		<i class="fa fa-twitter-square"></i>
		<i class="fa fa-google-plus-square"></i>
	</div>

	<footer class="sponsored">
		<span>Brought<br>to you by:</span>
		<div class="logos">
			<div class="uncork-logo"></div>
			<div class="ny-logo"></div>
			<div class="we-logo"></div>
		</div>
	</footer>
</div>