<div class="intro">
  <div class="intro-cover-image"></div>
  <div class="intro-start">
    <h1 class="hed">Discover the <br>Wineries of<br> New York State</h1>
    <a class="btn-start" href="#map">Start the Adventure</a>
    <footer class="sponsorship">
    	<div class="sponsored-by">
    		<span> Brought to You By: </span>
    		<img src="/images/uncork-logo.png">
    		<img src="/images/ny-partner-logo.png">
            <img src="/images/wine-enthusiast-logo.png">
    	</div>
    	<div class="share-tools">
    		<div class="share-bg"></div>
    		<div class="links">
    			<span>SHARE: </span>
    			<i class="fa fa-facebook-square"></i> 
    			<i class="fa fa-twitter-square"></i>
    			<i class="fa fa-google-plus-square"></i>
    		</div>
    	</div>

    	</div>
    </footer>
  </div>
</div>
