<div class="intro">
  <div class="intro-cover-image"></div>
  <div class="intro-start">
    <h1 class="hed">Discover the <br>Wineries of<br> New York State</h1>
    <a class="btn-start" href="#map">Start the Adventure</a>
    <footer class="sponsorship">
    	<div class="sponsored-by">
    		<span> Brought to You By: </span>
    		<img src="images/uncork-logo.png">
    		<img src="images/ny-partner-logo.png">
            <img src="images/wine-enthusiast-logo.png">
    	</div>
    	<div class="share-tools">
    		<div class="share-bg"></div>
    		<div class="links">
    			<span>SHARE: </span>
    			<a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a>
                <a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter-square"></i></a>
                <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus-square"></i></a>
    		</div>
    	</div>

    	</div>
    </footer>
  </div>
</div>
