<div id="map-intro-overlay" class="map-intro-overlay" ng-if="showMapIntroOverlay">
  <div class="map-intro-overlay-inner">
    <div class="map-intro-overlay-background"></div>
    <div class="map-intro-overlay-content">

       <div class="intro-card">
        <div class="intro-card-inner">
          <div class="btn-overlay-close" ng-click="toggleMapIntroOverlay()">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
          <div class="intro-card-hed">Welcome to the <strong>New York State</strong></div>
          <p class="intro-card-msg">Click on any of the Wine regions to zoom in and start exploring</p>

    </div>
  </div>
</div>
