<div class="map-filters">
  <button ng-class="{active:!hideWineries}" class="wineries" type="button" ng-click="toggleMarkers('wineries')">Wineries</button>
  <button ng-class="{active:!hideHotels}" class="hotels" type="button" ng-click="toggleMarkers('hotels')">Hotels</button>
  <button ng-class="{active:!hideRestaurants}" class="restaurants" type="button" ng-click="toggleMarkers('restaurants')">Restaurants</button>
  <button ng-class="{active:!hideAttractions}" class="attractions" type="button" ng-click="toggleMarkers('attractions')">Attractions</button>
</div>