<div class="map-region" ng-if="showMapRegion">
  <div class="map-region-inner" style="background-image:url(images/region-{{mapRegionClassName}}.jpg)">  <div ng-show="mapRegion.sub_regions" class="subregion-help"><i class="fa fa-arrow-circle-up"></i> Click the menu icon above to see all sub-regions</div>
    <header class="map-region-header">
      <h2 class="map-region-label">
        <span id="map-region-name" class="map-region-name">{{mapRegion.name}}</span> Region
      </h2>
    </header>
    <div class="back-to-state">
      <div ng-click="resetMap()" class="map-region-back">
        <span class="glyphicon glyphicon-triangle-left"></span>
        <span class="txt">Back to State View</span>
      </div>
    </div>
    <div class="map-region-description" ng-bind-html="mapRegion.description"></div>
  </div>
</div>
