<div id="map-container">
  <map center="{{mapCoordinates}}" zoom="{{mapZoom}}" styles="{{mapStyles}}">
        <shape name="polygon" ng-if="getMapZoomLevel() < 10" on-click="showArrays()" 
        paths="{{nyShape}}" stroke-color="#000000" stroke-opacity="0.8" stroke-weight="2" fill-color="#d0bea0" fill-opacity="0.6">
       </shape>

        <shape on-click="regionClick()" name="circle" ng-repeat="region in regions"
          stroke-color="#FF0000"
          stroke-opacity="0.8"
          stroke-weight="2"
          fill-color="#FF0000"
          fill-opacity="0.35"
          center="{{region.position}}"
          region="{{region}}"
          radius="20000">
        </shape>

        <marker 
          ng-repeat="venue in venues"
          on-click="showVenueOverlay(event,{{venue}})"
          ng-if="getMapZoomLevel() >= 10"  
          position="{{venue.coordinates}}" 
          title="{{venue.name}}">
        </marker>

    </map>

    <div ng-include="'/views/map-overlay.html'"></div>

</div>

