
<!-- <div style="color:#fff;">{{activeRegions()}}</div> -->
<div id="map-container" ng-class="(getMapZoomLevel() < 9) ? 'map-zoomed-out' : 'map-zoomed-in'">
<div ng-include="'views/map-region.html'"></div>

<map resizeMap id="map" class="map" map-type-id="roadmap"
    on-click="findClosesetRegion()"
    center="{{mapCoordinates}}"
    zoom="{{mapZoom}}"
    styles="{{mapStyles}}"
    map-type-control="false"
    pan-control="false"
    street-view-control="false"
    zoom-control="false"
    max-zoom="16"
    >


    <shape ng-if="getMapZoomLevel() < 8" name="polygon" paths="{{nyOutline}}" stroke-color="#FF0000" stroke-opacity="0" stroke-weight="2" fill-color="#FF0000" fill-opacity="0"
      on-click="regionClick(event, this)"
      >
   </shape>
<!--
  <marker
    position="{{bottomBounds}}"
    on-mouseup="changeBottomBounds()"
    draggable="true"
    />

  <marker
    position="{{topBounds}}"
    on-mouseup="changeTopBounds()"
    draggable="true"
    /> -->

<!--   <marker
    position="{{otherBounds}}"
    on-mouseup="changeOtherBounds()"
    draggable="true"
    /> -->



  <shape ng-if="getMapZoomLevel() < 8" name="image"
    url="images/NY_state_v2.png"
    bounds="{{mapBounds}}"
    background="#000000"
   >
  </shape>

<!--   <shape name="polygon" ng-if="getMapZoomLevel() < 10" on-click="showArrays()"
  paths="{{nyShape}}" stroke-color="#000000" stroke-opacity="0.8" stroke-weight="2" fill-color="#d0bea0" fill-opacity="0.6">
  </shape> -->

 <!--  <shape on-click="regionClick()" name="circle" ng-repeat="region in regions"
    stroke-color="#000000"
    stroke-opacity="0.8"
    stroke-weight="2"
    fill-color="#000000"
    fill-opacity="0.35"
    center="[{{region.pos.lat}},{{region.pos.lng}}]"
    region="{{region}}"
    radius="20000">
  </shape> -->

  <marker
    id="foo"
    class="marker-winery"
    ng-repeat="venue in wineries"
    on-click="showVenueOverlay(event,{{venue}});"
    on-mouseover="hoverVenue(event,{{venue}});"
    ng-if="getMapZoomLevel() >= 8 && !hideWineries"
    position="{{venue.coordinates}}"
    title="{{venue.name}}"
    icon="images/marker-winery.png"
    >
  </marker>

  <marker
    ng-repeat="venue in restaurants"
    on-click="showVenueOverlay(event,{{venue}})"
    on-mouseover="hoverVenue(event,{{venue}});"
    ng-if="getMapZoomLevel() >= 8 && !hideRestaurants"
    position="{{venue.coordinates}}"
    title="{{venue.name}}"
    icon="images/marker-restaurant.png"
    >
  </marker>

  <marker
    ng-repeat="venue in attractions"
    on-click="showVenueOverlay(event,{{venue}})"
    on-mouseover="hoverVenue(event,{{venue}});"
    ng-if="getMapZoomLevel() >= 8 && !hideAttractions"
    position="{{venue.coordinates}}"
    title="{{venue.name}}"
    icon="images/marker-attraction.png"
    >
  </marker>

  <marker
    ng-repeat="venue in hotels"
    on-click="showVenueOverlay(event,{{venue}})"
    on-mouseover="hoverVenue(event,{{venue}});"
    ng-if="getMapZoomLevel() >= 8 && !hideHotels"
    position="{{venue.coordinates}}"
    title="{{venue.name}}"
    icon="images/marker-hotel.png"
    >
  </marker>

  
</map>
<div ng-include="'views/map-search.html'"></div>
<div ng-include="'views/map-controls.html'"></div>
<div ng-include="'views/map-overlay.html'"></div>
<div ng-include="'views/map-filters.html'"></div>
<div ng-include="'views/map-loading.html'"></div>
<div ng-include="'views/map-menu.html'"></div>
<div ng-include="'views/map-legend.html'"></div>
<div ng-include="'views/map-intro-overlay.html'"></div>

